<div class="prtltmmc-global-content virgin_header_bar">
  <div class="left_side">
    <a href="/">
      <img class="is_desktop_virgin"
        src="https://cdn.speedsize.com/eb8d0010-7300-4129-8a6d-74bc221f9caf/https://www.virginvoyages.com/dam/jcr:419f9bc6-b838-4db6-89f7-3d199d353bf7/vv-logo%20(2).svg"
        alt="Virgin Voyages">
      <img class="is_mobile_virgin"
        src="https://cdn.speedsize.com/eb8d0010-7300-4129-8a6d-74bc221f9caf/https://www.virginvoyages.com/dam/jcr:1c1155f8-e33f-4123-a0cd-742206a69a87/vv-logo-vertical%20(1).svg"
        alt="Virgin Voyages">
    </a>
  </div>
  <div class="center_side">
    <ul class="prtltmmc-nav-preheader prtltmmc-mobile-reduced-view">
      <li><a href="#" class="prtltmmc-handle-menu-mobile"><span class="prtltmmc-icon"></span></a>
      </li>
    </ul>
    <ul class="prtltmmc-nav-navbar">
      #foreach( $item in $menu )
      #if ($item.options && $item.options.size() > 0)
      <li>
        <a class="with_arrow" href="#">$item.text</a>
        <div class="prtltmmc-navbar-dropdown-menu">
          <ul>
            #foreach( $elem in $item.options )
            <li><a href="$elem.link">$elem.text</a></li>
            #end
          </ul>
        </div>
      </li>
      #end
      #end
      <div class="bottom_side_account is_mobile_virgin">
        <a class="prtltmmc-open-popup prtltmmc-signup-button" href="#" rel="$link.signin.link"
          data-add-class="prtltmmc-without-margins" data-max-width="600px" data-max-height="600px">
          <svg class="AD_TriggerIcon_Account" viewBox="0 0 24 24">
            <path class="AD_TriggerIcon_Account_Status" fill="#ffffff" d="M11.3 20H3.2v-5.7h8.2V20z"></path>
            <path
              d="M18.23 10.42a4.19 4.19 0 1 0-4.76 0A6.16 6.16 0 0 0 10.56 13a2.61 2.61 0 0 0-.48 0h-.34a2.45 2.45 0 0 0-4.87 0h-.43A2.44 2.44 0 0 0 2 15.42v3.39a2.44 2.44 0 0 0 2.44 2.44h5.63a2.45 2.45 0 0 0 2.44-2.44v-3.38a2.37 2.37 0 0 0-.4-1.37 4.27 4.27 0 0 1 8 2H22a6.2 6.2 0 0 0-3.77-5.64zM7.31 12.29a1 1 0 0 1 .91.69H6.39a1 1 0 0 1 .92-.69zm3.44 6.52a.69.69 0 0 1-.68.68H4.44a.68.68 0 0 1-.68-.68v-3.39a.68.68 0 0 1 .68-.68h5.63a.69.69 0 0 1 .68.68zm5.1-9.53A2.33 2.33 0 1 1 18.17 7a2.32 2.32 0 0 1-2.32 2.28z">
            </path>
          </svg>
          $link.signin.text
        </a>
      </div>
      <li class="small is_mobile_virgin">
        <a class="with_arrow" href="#">
          #if ($markets.size() > 0)
          #foreach( $market in $markets )
          #if ($market.selected)
          $market.text
          #end
          #end
          #end
        </a>
        <div class="prtltmmc-navbar-dropdown-menu">
          <ul>
            #if ($markets.size() > 0)
            #foreach( $market in $markets )
            <li><a href="$market.link">$market.text</a></li>
            #end
            #end
          </ul>
        </div>
      </li>
      <li class="small is_mobile_virgin">
        <a class="with_arrow" href="#">
          #if ($languages.size() > 0)
          #foreach( $language in $languages )
          #if ($language.selected)
          $language.text
          #end
          #end
          #end
        </a>
        <div class="prtltmmc-navbar-dropdown-menu">
          <ul>
            #if ($languages.size() > 0)
            #foreach( $language in $languages )
            <li><a href="$language.link">$language.text</a></li>
            #end
            #end
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="right_side">
    <div class="top_side display_992">
      <div class="prtltmmc-nav-preheader">
        <li class="prtltmmc-desktop-view prtltmmc-dropdown with_arrow small">
          <span>
            #if ($markets.size() > 0)
            #foreach( $market in $markets )
            #if ($market.selected)
            $market.text
            #end
            #end
            #end
          </span>
          <ul>
            #if ($markets.size() > 0)
            #foreach( $market in $markets )
            <li><a href="$market.link">$market.text</a></li>
            #end
            #end
          </ul>
        </li>
        <li class="prtltmmc-desktop-view prtltmmc-dropdown prtltmmc-last-child with_arrow small">
          <span>
            #if ($languages.size() > 0)
            #foreach( $language in $languages )
            #if ($language.selected)
            $language.text
            #end
            #end
            #end
          </span>
          <ul>
            #if ($languages.size() > 0)
            #foreach( $language in $languages )
            <li><a href="$language.link">$language.text</a></li>
            #end
            #end
          </ul>
        </li>
      </div>
    </div>
    <div class="bottom_side">
      <a class="prtltmmc-open-popup prtltmmc-signup-button with_arrow" href="#" rel="$link.signin.link"
        data-add-class="prtltmmc-without-margins" data-max-width="600px" data-max-height="600px">
        <svg class="AD_TriggerIcon_Account" viewBox="0 0 24 24">
          <path class="AD_TriggerIcon_Account_Status" fill="#ffffff" d="M11.3 20H3.2v-5.7h8.2V20z"></path>
          <path
            d="M18.23 10.42a4.19 4.19 0 1 0-4.76 0A6.16 6.16 0 0 0 10.56 13a2.61 2.61 0 0 0-.48 0h-.34a2.45 2.45 0 0 0-4.87 0h-.43A2.44 2.44 0 0 0 2 15.42v3.39a2.44 2.44 0 0 0 2.44 2.44h5.63a2.45 2.45 0 0 0 2.44-2.44v-3.38a2.37 2.37 0 0 0-.4-1.37 4.27 4.27 0 0 1 8 2H22a6.2 6.2 0 0 0-3.77-5.64zM7.31 12.29a1 1 0 0 1 .91.69H6.39a1 1 0 0 1 .92-.69zm3.44 6.52a.69.69 0 0 1-.68.68H4.44a.68.68 0 0 1-.68-.68v-3.39a.68.68 0 0 1 .68-.68h5.63a.69.69 0 0 1 .68.68zm5.1-9.53A2.33 2.33 0 1 1 18.17 7a2.32 2.32 0 0 1-2.32 2.28z">
          </path>
        </svg>
      </a>
      <a href="$link.findcruise.link" class="book_button">
        $link.findcruise.text
      </a>
    </div>
  </div>
</div>