<div class="prtlt-digitup-api-content">
    <div class="offers">
        <div class="offers__items">
            #foreach( $item in $items )
            <div class="offers__item">
                <div class="offers__item-image">
                    <img src="$item.shipimage" alt="" class="image-static">
                    <img src="$item.map" alt="" class="image-hover">
                    <p><img src="$item.companylogo" alt="" class="image-before"></p>
                </div>
                <div class="offers__item-text">
                    <div class="offers__item-left">
                        <div class="offers__item-left-top">
                            <h3>$item.cruise</h3>
                            <p><span>$item.departures.get(0).duration $message.days</span> $item.embark -
                                $item.debark<span class="hide-places">
                                    #set($size = $item.ports.size())
                                    #set($counter = 0)
                                    #foreach( $port in $item.ports )
                                    $port.description
                                    #set($counter = $counter + 1)
                                    #if($counter < $size) • #end #end </span>
                            </p>
                            <h4><strong><img
                                        src="https://cdn.mundomarcruceros.com/wlgs/mundomar-images/calendar.svg"></strong>
                                $item.departures.get(0).departure</h4>
                        </div>
                        <div class="offers__item-left-bottom">
                            <p class="ship">$item.ship</p>
                            <div class="offers__calendar">
                                <p class="data">$item.departures.get(0).departure</p>
                                <div class="calendar">
                                    #foreach( $departure in $item.departures )
                                    <div class="calendar_item">
                                        <p class="calendar_data">$departure.departure</p>
                                        <p class="calendar_price">$departure.leading</p>
                                    </div>
                                    #end
                                </div>
                            </div>
                            <p class="time">$item.departures.get(0).duration $message.days</p>
                        </div>
                    </div>
                    <div class="offers__item-right">
                        <div class="offers__item-right-top">
                            <div class="offers__item-right-text">
                                #if($item.flight)
                                <img src="https://cdn.mundomarcruceros.com/wlgs/mundomar-images/airplan.svg" alt=""
                                    class="image-static">
                                #end
                                #if($item.transfer)
                                <img src="https://cdn.mundomarcruceros.com/wlgs/mundomar-images/home.svg" alt=""
                                    class="image-static">
                                #end
                                #if($item.promocode)
                                <img src="https://cdn.mundomarcruceros.com/wlgs/mundomar-images/percent.svg" alt="">
                                #end
                                <span>
                                    #if($item.flight)
                                    Vuelo incluido
                                    #end
                                    #if($item.transfer)
                                    <br>Transfer incluido
                                    #end
                                    #if($item.promocode)
                                    <br>$item.promodescription
                                    #end
                                </span>
                            </div>

                        </div>
                        <div class="offers__item-right-bottom">
                            <div>
                                <span>$message.from</span>
                                <p class="price">$item.departures.get(0).leading</p>
                                <div class="calendar">
                                    #foreach( $departure in $item.departures )
                                    <div class="calendar_item">
                                        <p class="calendar_data">$departure.departure</p>
                                        <p class="calendar_price">$departure.leading</p>
                                    </div>
                                    #end
                                </div>
                            </div>
                            <a href="$item.link">$message.morebutton</a>
                        </div>
                    </div>
                </div>
            </div>
            #end
        </div>
    </div>
</div>