<div class="prtlt-digitup-api-content">
    <div class="carts__items">
        #foreach( $item in $items )
        <div class="carts__item">
            <img src="$item.map" alt="">
            <div class="carts__item-wrapper">
                <div class="carts__item-top">
                    <span class="top_text">$item.duration $message.days</span>
                    <h2 class="title_text">$item.cruise</h2>
                </div>
                <div class="carts__item-bottom_side">
                    <div class="carts__item-bottom">
                        <div class="small_text">
                            <h6>$message.from</h6>
                        </div>
                        <div class="large_text">
                            <h1>$item.leading</h1>
                        </div>
                        <div class="small_text">
                            <h6>$message.perperson ($message.taxincluded2)</h6>
                        </div>
                    </div>
                    <a href="$item.link" class="btn">$message.morebutton</a>
                </div>
            </div>
        </div>
        #end
    </div>
</div>