<div class="prtlt-digitup-api-content">
    <div class="carts__items">
        #foreach( $item in $items )
        <div class="carts__item">
            <img src="$item.map" alt="">
            <div class="carts__item-wrapper">
                <div class="carts__item-top">
                    <span>$item.duration $message.days</span>
                    <h2>$item.cruise</h2>
                </div>
                <div class="carts__item-bottom_side">
                    <div class="carts__item-bottom">
                        <span>$message.from</span>
                        <p>$item.leading</p>
                        <span>$message.perperson</span>
                    </div>
                    <a href="$item.link" class="btn">$message.morebutton</a>
                </div>
            </div>
        </div>
        #end
    </div>
</div>